@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Inter", sans-serif; 
    background-color: rgb(38, 38, 39);
    color: white;
    
}
.header{
    width: 1920px;
    height: 484px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    margin-top: -300px;
}
.header__list{
    margin-top: -60px;
    list-style-type : none;
    display: flex;
    gap: 30px;
}
.vk__png{
    filter: invert();
}
.twitter__png{
    filter: invert();
}
.twitch__png{
    filter: invert();
}
.instagramm__png{
    filter: invert();
}
img{
    color: white;
    width: 60px;
    height: 60px;
}
.header img.header__logo{
    width: 186px;
    height: 186px;
}
.header__logo{
    margin-bottom: 300px;
}
.welcome{
    width: 1920px;
    height: 484px;
    background-image: url(/imgs/346820764566137.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 240px 0;
    margin-top: -485px;
}
button{
    width: 150px;
    height: 40px;
    background-color: #030725;
    color: white;
    border-color: #030725;
    text-transform: uppercase;
}
.line__1{
    width: 1920px;
    height: 30px;
}
.container__2{
    height: 468px;
    background-color: #176897;
}
.come__on{
    width: 1920px;
    height: 484px;
    background-color: #176897;
    align-content: center;
    text-transform: uppercase;
    margin-top: -5px   ;
    font-size: 30px;
    text-align: center;
}
h2{
    text-align: center;
}
.line__2{
    width: 1920px;
    height: 30px;
}
.system__tr{
    width: 1920px;
    height: 1508px;
    background-color: #03081C;
    text-align: center;
    font-size: 30px;
    margin-top: -5px;
    vertical-align: text-bottom;
}
.primers{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
}
.dota__pr1{
    width: 812px;
    height: 553px;
    border-radius: 165px;
    margin-top: 400px;
}
.eclipse__1{
    width: 99px;
    height: 99px;
    margin-top: 300px;
}
.dota__pr2{
    width: 812px;
    height: 553px;
    border-radius: 165px;
    margin-top: -100px;
}
.line__3{
    width: 1920px;
    height: 30px;
}
.container__4{
    width: 1920px;
    height: 886px;
    background-color: #03081C;
    font-size: 30px;
    margin-top: -3px;
}
.pack__select{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 50px;
}
h4{
    text-transform: uppercase;
    text-align: center;
}
.ch__1{
    width: 45px;
    height: 30px;
}
.ch__2{
    width: 45px;
    height: 30px;
}
.inputs{
    display: flex;
    justify-content: space-around;
}
.must__inputs{
    width: 360px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
}
.email{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
}
.password{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
}
.number{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
}
.text{
    width: 600px;
    height: 300px;
    display: block;
    justify-content: end;
    margin-left: 750px;
    border: none;
    outline: none;
}
.line__4{
    width: 1920px;
    height: 30px;
}
.play__free{
    width: 1920px;
    height: 884px;
    background-image: url(/imgs/3057.webp);
    background-repeat: no-repeat;
    margin-top: -5px;
    display: flex;
    justify-content: end;
}
.p__end{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    margin-left: -1180px;
    margin-top: 300px;
}
.bitv{
    margin-left: -219px;
}
.btn__end{
    width: 316px;
    height: 93px;
    background-color: aliceblue;
    color: rgb(255, 255, 255);
    background: transparent;
    border-color: white;
    box-shadow: #03081C;
    margin-left: -95px;
    font-size: 30px;
}
.footer{
    background-color: #171318;
    width: 1920px;
    height: 200px;
}
.container__footer{
    width: 1920px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.valve__footer{
    width: 160px;
    height: 46px;
    padding: 40px;
}
.dota__footer{
    width: 190px;
    height: 46px;
    padding: 40px;
}
.footer__text{
    color: #777777;
    text-align: center;
    justify-content: end;
}






